<!-- ###SMW-FEEDS### -->
<div class="smw-feeds">
	<h3>###LOGO### ###TITLE###</h3>
	<div class="smw-feeds-items">
		<div id="smw-feeds-###ID###"></div>
	</div>
</div>
<!-- ###SMW-FEEDS### -->

<!-- ###SMW-ITEM### -->

<!-- ###SMW-ITEM### -->