<!-- ###SMW-SEARCH### -->
<div id="smw-searchbox-###ID###" class="smw-searchbox">
	<h1>###TITLE###</h1>
	<input type="text" id="search###ID###" value="###SEARCHTEXT###" autocomplete="off" />
	<div id="smw-resultbox-###ID###" style="display:none;" class="smw-resultbox">
		<div class="siteheader"></div>
		<div id="smw-sitesearch-###ID###" class="smw-sitesearch"></div>
		<div class="smw-googleheader"></div>
		<div id="smw-googlesearch-###ID###"></div>
	</div>
</div>
<!-- ###SMW-SEARCH### -->