<h1>Possible Markers</h1>
###ID###
###LOGO###
###TYPE###
###KEYWORD###
###LINK1###
###LINK1_URL###
###LINK2###
###LINK2_URL###


<!-- ###SMW-TWITTER### -->
<div class="smw-twitter">
	<h3>Tweets bei ###LOGO###</h3>
	<div class="smw-tweets">
		<div id="smw-twitter-###ID###"></div>
	</div>
</div>
###LINK1### &nbsp; &nbsp; ###LINK2###
<!-- ###SMW-TWITTER### -->

