<!-- ###SMW-YOUTUBE0### -->
<div class="smw-youtube">
	<h3>###LOGO### ###TITLE###</h3>
	<div class="smw-yt-results">
		<div id="smw-youtube-###ID###"></div>
	</div>
</div>
###LINK1### &nbsp; &nbsp; ###LINK2###
<!-- ###SMW-YOUTUBE0### -->



<!-- ###SMW-YOUTUBE-ITEM0### -->
<div class="yt-item">
	<h3>%%%TITLE%%%</h3>
	<span class="yt-thumb">%%%LINK%%%</span>
	<span class="yt-desc">%%%DESCRIPTION%%%</span>
	<span class="yt-duration">Time: %%%DURATION%%%</span>
	<br class="clear" />
</div>
<!-- ###SMW-YOUTUBE-ITEM0### -->

alternate:

<!-- ###SMW-YOUTUBE1### -->
<div class="smw-youtube">
	<h3>###LOGO### ###TITLE###</h3>
	<div class="smw-yt-results">
		<div id="smw-youtube-###ID###"></div>
	</div>
</div>
<input type="button" value="Link 1" onclick="top.location.href='###LINK1_URL###';">
&nbsp; &nbsp;
<input type="button" value="Link 2" onclick="top.location.href='###LINK2_URL###';">
<!-- ###SMW-YOUTUBE1### -->


<!-- ###SMW-YOUTUBE-ITEM1### -->
<div class="yt-item">
	%%%CONTENT%%%
	<span class="yt-preview">%%%LINK_START%%%[preview]%%%LINK_END%%%</span>
</div>
<!-- ###SMW-YOUTUBE-ITEM1### -->