<!-- ###SMW-YOUTUBE### -->
<div class="smw-youtube">
	<h3>###LOGO### ###TITLE###</h3>
	<div class="smw-yt-results">
		<div id="smw-youtube-###ID###"></div>
	</div>
</div>
<!-- ###SMW-YOUTUBE### -->

<!-- ###SMW-YOUTUBE-ITEM### -->
<div class="yt-item">
	<h3>%%%TITLE%%%</h3>
	<span class="yt-thumb">%%%LINK%%%</span>
</div>
<!-- ###SMW-YOUTUBE-ITEM### -->